html, body, #map {
  height: 100%;
  font-family: Frutiger, 'Istok Web',  "Frutiger Linotype", Arial, sans-serif;
  background: lightgray;
}

#back {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  z-index:100;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, .2) url(img/arrow.png) no-repeat center center;
  width: 78px;
  height: 78px;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-right: 15px;
  -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
  transform: translateX(0);
  transition: all .3s;
}
#back.hide {
  -webkit-transform: translateX(-78px); /* Chrome, Safari, Opera */
  transform: translateX(-78px);
  display: none;
}
.title-txt {
  display: inline-block;
  vertical-align: middle;
}
#chart{
  background: #EFEFF0;
  position: absolute;
  bottom: 51px;
  right: 20px;
  color: white;
  text-transform: uppercase;
  z-index:100;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 20px;
}
#chart-area{
  width: 280px;
}
#conn{
  background: #696A6D;
  padding: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: #F5AF33;
  margin: -20px -20px 20px -20px;
}
#conn span {
  display: inline-block;
  vertical-align: middle;
}
.title-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  left: 20px;
}
.title-decoration {
  height: 78px;
  background: #F5B133;
  width: 350px;
  float: right;
  margin-top: 38px;
  position: relative;
}
  .title-decoration:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 78px solid #F5B133;
    border-left: 58px solid transparent;
    left: -58px;
  }
.title-decoration-brand {
  position: absolute;
  right: 20px;
  top: 17px;
}
.title {
  background: #EC6633;
  color: #fff;
  position: absolute;
  padding: 20px 100px 20px 20px;
  z-index: 2;
  right: 395px;
  left: 0;
}
  .title:after {
    content:"";
    position: absolute;
    right: -58px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 78px solid #EC6633;
    border-right: 58px solid transparent;
  }
  .title h1 {
    margin-bottom: 4px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .title h2 {
    font-size: 14px;
    color: rgba(255, 255, 255, .9);
  }

.leaflet-top {
    top: 0 !important;
    bottom: 0 !important;
}
.leaflet-control-zoom {
  position: absolute !important;
  margin: 0 !important;
  z-index: 20 !important;
  bottom: 51px;
  float: none !important;
  top: auto !important;
  left: 20px;
}
.leaflet-container {
  background: none !important;
}
.lst-options {
  width: auto;
  margin-top: 4px;
  margin-left: 1px;
  overflow: hidden;
}
.lst-options > li {
  float: left;
  display: inline;
  margin-left: 2px;
  width: 25px;
  height: 25px;
}
.lst-options > li img {
  display: block;
}

.splash {
  position: absolute;
  top:110px;
  left:20px;
  padding:0px;
  z-index: 2;
  background: #EC6633;
  padding: 5px 10px 5px 5px;
}
.splash a {
  font-size: 14px;
  color: rgba(255, 255, 255, .9);
}
.splash h2 {
    font-size: 14px;
    color: rgba(255, 255, 255, .9);
  }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: #EC6633;
}

.close {
  background: #F5B133;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #fff; color:#EC6633; }

